#root {
	margin: 0 auto;
	padding: 0rem;
	text-align: center;
	font-family: 'Signika Negative', 'Signika Negative-fallback', 'Open Sans',
		'Open Sans-fallback', system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 700;
}

body {
	background-color: #f1bb00;
	margin: auto;
}

textarea {
	width: 300px;
	height: 150px;
	border-radius: 25px;
}

legend {
	color: black;
}

main {
	text-align: center;
	margin: auto;
	/* This will create the frame around the article. It may conflic though with the accesibility */
	width: 95%;
	min-height: 70vh;
	overflow: auto;
	background-color: #bbb;
	padding: 10px 5px;
	border: 2px solid #bbb;
}

h1 {
	font-weight: 900;
	padding: 2rem 0 1rem 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	color: #663f00;
}

footer a:hover,
nav a:hover {
	color: #f1bb00;
}

/* ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
} */
/* 
li {
	display: inline-block;
	margin: 0 10px;
	text-align: center;
} */

nav {
	font-weight: 700;
	background-color: black;
	color: white;
	border: solid 1px black;
	position: sticky;
	display: flex;
	justify-content: space-evenly;
	padding: 0.5rem 0rem;
	top: 0;
	height: 60px;
	width: 100%;
	align-items: center;
	box-shadow: 0 2px 2px 2px #0909093b;
}

/* Do no touch, it belongs to the drop-down menu */
.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
	background-color: red;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	background-color: black;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	color: #f1bb00;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* End of Dropdown */

p {
	margin: 2% 5% 0% 5%;
	text-align: justify;
}

/* Vote */

.voteBlock {
	margin-top: 50px;
}

#vote {
	display: inline;
}

.upVote,
.downVote {
	margin-left: 5px;
}

/* Articles */

.articlesList {
	background-color: #bbb;
	color: white;
	border: 2px solid rgba(255, 0, 0, 0);
}

/* Comment
 */
.commentsSection {
	background-color: #bbb;
	padding: 20px;
	border: 2px solid salmon;
	margin: 20px;
}

.comment {
	width: 100%;
	background-color: #bbb;
	margin: 20px 0 10px 0;
	border: 2px dotted purple;
	padding-bottom: 1%;
}

.foot-article {
	font-size: small;
}

.articleItem {
	background-color: rgb(37, 36, 36);
	box-shadow: 0px 0px 5px 2px black;
	padding: 10px 0px 10px 0px;
	margin: 20px;
	border: 2px solid blue;
}

/* .single-article {
	background-color: #5d1a1a;
	margin: 0 0 20px 0;
	border: 2px solid rgb(255, 83, 83);
} */

.article-title {
	font-size: small;
}

.article-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
	padding: 20px;
}

.article-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.article-list li {
	width: 300px;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
}
.article-list li img {
	max-width: 100%;
	height: auto;
}

.user-card img {
	width: 150px;
	height: 150px;
}

fieldset {
	font-weight: 700;
	display: flex;
	background-color: #d5d5d5;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: auto;
	margin: 0 0 10px 0;
}

nav {
	font-weight: 700;
	background-color: black;
	color: white;
	border: solid 1px black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0.5rem 0rem;
	top: 0;
	height: 60px;
	width: 100%;
	align-items: center;
	box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.711);
}

button,
button a {
	font-family: 'Signika Negative', 'Signika Negative-fallback', 'Open Sans',
		'Open Sans-fallback', system-ui, sans-serif;
	font-weight: 700;
	color: #663f00;
}

footer {
	font-weight: 700;
	background-color: black;
	color: white;
	border: solid 1px black;
	display: flex;
	justify-content: center;
	height: 40px;
	width: 100%;
	box-shadow: 0px -2px 2px 2px rgb(9, 9, 9);
}

footer p {
	margin-top: 0.3%;
}
